.app-container {
  width: 1010px;
  max-width: 90%;
  min-width: 1010px;
  margin: 0 auto;
  padding: 25px 0;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.app-col {
  display: flex;
  justify-content: center;
}

#root {
  width: 1010px;
  margin: 0 auto;
  min-height: 100vh;
}
