.movie-card {
  width: 451px;
  height: 279px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

/* левая часть (постер) */
.movie-card__poster {
  width: 183px;
  height: 279px;
  background-color: #f0f0f0;
}

/* имага постера */
.movie-card__img {
  width: 183px;
  height: 279px;
  object-fit: cover;
}

/* если постера нет */
.movie-card__no-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

/* правая часть (контент) */
.movie-card__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  overflow: hidden;
}

/* название фильма */
.movie-card__title {
  margin: 0 0 8px 0;
  font-size: 16px;
}

/* дата выхода */
.movie-card__date {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* описание */
.movie-card__overview {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.4;
}

/* рейтинг */
.movie-card__rating {
  width: 30px;
  height: 30px;
  border: 3px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  box-sizing: content-box;
}

/* звезды */
.movie-card__rate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 18px;
}

/* заголовок правой части*/
.movie-card__zag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* жинры */
.movie-card__genres {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
}
